@import "../../global.scss";

.works {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    position: absolute;
    top: 20px;
    font-size: 60px;
    color: white;
    
    @include mobile {
      font-size: 40px;
      top: 30px;
    }
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 30px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 30px;
    }
  }

  .slider {
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    top: 120px;
    
    @include mobile {
      height: auto;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
      
      .item {
        width: 85%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 40%;
          border-radius: 6px;
          background-color: white;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          padding: 4px;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 14px;
          }

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include mobile {
              display: flex;
              flex-direction: column;
              overflow: hidden;
            }
            
            h2 {
              font-size: 35px;

              @include mobile{
                font-size: 26px;
              }
            }
            p {
              font-size: 18px;

              @include mobile{
                font-size: 16px;
              }
            }

            .link {
              display: flex;
              gap: 20px;
            }

            .projectButton {
              font-size: 20px;
              font-weight: 600;
              margin-top: 20px;
              color: $mainColor;

              @include mobile {
                color: $mainColor;
              }
            }

            span {
              font-size: 14px;
              border-top-style: solid;
              border-top-width: 1px;
              margin-top: 2px;
              padding-top: 12px;
              color: $mainColor;

              @include mobile {
                color: $mainColor;
              }
            }
          }
        }
        .right {
          flex: 4;
          height: 70%;
          display: flex;
          padding: 10px;
          justify-content: center;
          overflow: hidden;
          background-size: contain;
          background-position: center;

          @include mobile {
            flex: none;
            display: flex;
            justify-content: center;
            background-size: contain;
            background-position: center;
            width: 100%;
            overflow: hidden;
          }
        }
      }
    }
  }
}