@import '../../global.scss';

.about {
  background-color: white;
  display: flex;

  @include responsive($lg) {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    position: relative;

    @include responsive($lg) {
      width: 100%;
      padding: 80px;
    }

    .card {
      margin: 50px 70px;
      border-radius: 10%;
      width: 250px;
      height: 350px;
      background-color: $mainColor;
      
      @include responsive($lg) {
        width: 180px;
        height: 250px;
      }
    }

    .card-img {
      position: absolute;
      margin: 50px 50px;
      border-radius: 10%;
      width: auto;
      height: 350px;
      background-color: #333;
      overflow: hidden;

      @include responsive($lg) {
        margin: 20px 30px;
        width: 180px;
        height: 250px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .right {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @include responsive($lg) {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 100px;
      font-weight: 600;

      @include responsive($lg) {
        margin-bottom: 20px;
        font-size: 46px;
        font-weight: 550;
        overflow: hidden;
      }
    }

    hr {
      margin-top: 20px;
      width: 0%;
      height: 5px;
      background-color: $mainColor;
      transition: width 1s ease-out;
      float: top;

      @include responsive($lg) {
        display: none;
      }
    }

    &:hover {

      hr {
        width: 600px;
        // float: bottom;
      }

    }

    h3 {
      margin-right: 100px;
      margin-top: 50px;
      font-size: 25px;
      color: rgb(131, 122, 122);

      @include responsive($lg) {
        margin: 0px 6px;
        font-size: 16px;
        text-align: center;
        line-height: 1.6;
        overflow: hidden;
      }
    }
  }
}