@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex: 0.5;
    }

    img {
      width: auto;
      height: 100%;
    }

    @include mobile {
      img {
        height: 90%;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;

      @include mobile {
        height: auto;
        padding: 20px;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 20px;

        @include mobile {
          margin-bottom: 20px;
          font-size: 35px;
        }
      }

      form {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @include mobile {
          gap: 3px;
        }

        input {
          width: 300px;
          height: 30px;
          font-size: 15px;

          @include mobile {
            width: 300px;
            height: 20px;
            margin-bottom: 10px;
          }
        }

        textarea {
          width: 300px;
          height: 200px;
          font-size: 15px;
          resize: vertical;

          @include mobile {
            width: 300px;
            height: 100px;
          }
        }

        button {
          width: 150px;
          height: 30px;
          color: white;
          background-color: $mainColor;
          border: none;
          border-radius: 10px;
          margin-top: 10px;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        span {
          color: $mainColor;
          margin-top: 10px;
        }
      }
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      gap: 10px;

      .icon {
        font-size: 30px;
        color: black;

        @include mobile {
          font-size: 28px;
        }
      }
    }
  }
}