@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  padding: 20px;

  @include responsive($lg){
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive($lg) {
      padding: 50px;
      width: 100%;
    }

    @include responsive($xs) {
      width: 90%;
    }
    
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;

      @include responsive($lg){
        overflow: hidden;
      }

      img {
        width: 480px;
        height: 480px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

        @include responsive($lg) {
          width: 290px;
          height: 290px;
        }

        @include responsive($xs) {
          width: 220px;
          height: 220px;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;

    @include responsive($lg) {
      padding: 20px;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      @include responsive($lg){
        padding: 20px;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include responsive($lg){
          font-size: 40px;
        }

        @include responsive($xs){
          font-size: 25px;
        }
      }

      h2 {
        font-size: 35px;

        @include responsive($xs){
          font-size: 20px;
        }
      }

      h3 {
        font-size: 30px;

        @include responsive($lg){
          font-size: 20px;
        }

        @include responsive($xs){
          font-size: 15px;
        }

        span {
          font-size: inherit;
          color: $mainColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
      
      .downloadButton {
        margin-top: 20px;
        width: 120px;
        background-color: $mainColor;
        color: white;
        cursor: pointer;

        @include responsive($lg) {
          margin-bottom: 20px;
        }

        @include responsive($xs) {
          font-size: xx-small;
          width: 100px;
        }
      }
    }
  }
}