@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  padding: 20px;

  @include mobile{
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 40px;
      width: 100%;
    }
    
    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;

      @include mobile{
        overflow: hidden;
      }

      img {
        width: 480px;
        height: 480px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;

        @include mobile {
          width: 290px;
          height: 290px;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;

    @include mobile {
      padding-left: 0px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      @include mobile{
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile{
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile{
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: $mainColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
      
      .downloadButton {
        margin-top: 20px;
        width: 120px;
        background-color: $mainColor;
        color: white;
        cursor: pointer;

        @include mobile {
          margin-bottom: 20px;
        }
      }
    }
    .downButton {
      position: absolute;
      bottom: 40px;
      left: 40%;

      @include mobile {
        bottom: 10px;

      }

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}